/* positioning: static, relative, absolute, fixed, sticky */
header {
  position: sticky;
  background-color: lightskyblue;
  border: black 3px solid;
  top: 0;
  left: 0;
}

/* the magic of flexbox in the navbar */
nav {
  font-size: x-large;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div:nth-of-type(1){
  flex-grow: 1;
}

a:hover {
  color: red;
  text-decoration: underline;
}

body {
  background-image: url(../Assets/Ocean.jpg);
  background-size: cover;
}

h1 {
  font-size: larger;
  color: blueviolet;
  width: 100px;
  background-color: rgb(205, 220, 236);
  transform: rotate(15deg);
}

section {
  width: 500px;
  height: 500px;
  background-color: #151b29;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the a of rgba stands for alpha (transparency).
affects only the element of which rgba is assigned */
#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

#rgba button {
  background: none;
  color: blueviolet;
  border: 2px solid;
  margin-top: 0.5em;
  padding: 1em 2em;
  font-size: 1em;
}

#rgba button:hover {
  border-color: palevioletred;
  box-shadow: 0.5em 0.5em 0.5em -0.4em palevioletred;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* opacity will affect everything that is inluded in the elemnent, like text */
#opacity {
  width: 50%;
  height: 50%;
  background-color: white;
  opacity: 0.5;
}

/* transition can be defined in the following order
transition: property name | duration | timing function | delay */
#transition {
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.5s ease-in, border-radius 1s;
}

#transition:hover {
  background-color: aqua;
  border-radius: 50%;
}
