/* Rules of Specificity: Inline > ID(#) > Class(.) > Element */
/* CSS Inheritance: Any element that has not been directly assigned an
attribute will take on the attributes of the closest parent element */

/* used as a pseudo root / main parent of the file. similar to global variables */
html {
  font-size: medium;
}

h1 {
  text-align: center;
  font-family: comicsans;
  font-weight: bold;
  font-size: 50px;
  margin: 10px auto;
  letter-spacing: 2px;
  color: royalblue;
  text-decoration: black underline 3px;
}

/* Commas act as a list. h2 AND h3 both follow the statement rules */
h2 {
  color: #0000ff;
  background-color: azure;
  border: solid black 1px;
  line-height: 40px;
  text-align: center;
}

/* css units: most common Absolute Unit, pixels (px), is self explanatory.
  Relative Units
- percentages (%) are used to designate size of element compared to parents value.
- em: value multiplier. grows/shrinks relative of the element dependent upon 
        parents value. [nested]    1em = parent size  2em = 2x parent size 
- rem: (root em) derived from root html element font-size, not the closest parent */
h4 {
  font-size: 2em;
  border: solid black 1px;
}

/* spans are inline by default but can be set to be blocked */
span {
  display: block;
  background-color: azure;
  border: solid black 1px;
}

/* pseudo classes/elements are keyword(s) added to a selector to specify a special state  */
a:hover {
  color: red;
  text-decoration: underline;
}

/* Descendant Selectors define only the element inside the */
/* specified tag, not all of the elements of that type in the file */
header a {
  color: blue;
  font-size: large;
}

/* Combinator Selectors define only the VERY NEXT element that is listed after the specified tag */
input button {
  background-color: purple;
}

/* Attribute Selectors define all elements in the form with the type listed in the brackets */
input[type="email"] {
  color: red;
}

/* ID selectors use the hashtag symbol to single out a */
/* specific element from all other button parameters using id="xxx" */
#submit-button {
  color: red;
  background-color: black;
}

/* Padding is the distance between an element and its own border */
/* Margin is the distance between two separate elements and their borders */
#dandy {
  width: 300px;
  height: 350px;
  padding: 5px;
  margin: 10px;
  border-color: burlywood;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
}

/* Class selectors use the period symbol to single out a */
/* specific element from all other elements using class="xxx" */
.tag {
  background-color: peachpuff;
}

/* font-family determines the font type for the text, if first choice */
/* doesnt exist on local machine, second is picked, and then third */
.about {
  background-color: antiquewhite;
  /* shorthand way to make a border - width | style | color */
  /* border: 3px solid royalblue */
  border-style: solid;
  border-width: 5px;
  border-color: royalblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: aliceblue;
}

button {
  color: aqua;
  background-color: salmon;
  font-size: 20px;
  border-radius: 10px;
}

button:hover {
  color: salmon;
  background-color: aqua;
  font-size: 20px;
  border-radius: 10px;
}